# This is the main configuration file for the application
# It contains the configuration for the application that is common for all profiles
# The configuration for the stage and prod profiles is in the same file
# The configuration for the stage and prod profiles is separated by ---
spring:
  # Application name setup
  application:
    name: Hermes
  # Set time limit for shutdown phase
  lifecycle:
    timeout-per-shutdown-phase: 15s
  # Set the default profile to pipeline, used to disable security in the pipeline
  profiles:
    default: pipeline
  webflux:
    base-path: /hermes

# Server port for the main application
server:
  port: 8080

# Enable actuator endpoints and set the port
management:
  endpoint:
    health:
      # Not completely sure but I think it's useful/needed for Kubernetes
      show-details: always
      enabled: true
  server:
    port: 8888

# Swagger config for the application
springdoc:
  api-docs:
    # Set the base path for the Swagger API documentation
    path: /api-docs
  swagger-ui:
    # Set the base path for Swagger UI
    path: /swagger
  # Don't show actuator endpoints in Swagger, they are on different port
  show-actuator: false


logging:
  level:
    # Set the logging level for the web package to debug
    web: debug

---

# This is the configuration for the local-dev profile
spring:
  config:
    activate:
      # This part of the app config is only activated when the profile is local-dev
      on-profile: local-dev

  # Set the security settings for the local-dev profile
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8082/realms/mlt-local
          audiences: http://localhost:8080/hermes

  # Set the database settings for the local-dev profile
  data:
    mongodb:
      username: bruker
      password: drossap
      database: wls

# Set a dummycatalog base path to SynQ for testing purposes
synq:
  path:
    base: http://dummycatalog.nb.no/synq/resources

---

# This is the configuration for the stage profile
spring:
  config:
    activate:
      # This part of the app config is only activated when the profile is stage
      on-profile: stage

  # Set the security settings for the stage profile
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}

  # Set the database settings for the stage profile
  data:
    mongodb:
      username: ${MONGODB_USERNAME}
      password: ${MONGODB_PASSWORD}
      database: ${MONGODB_DATABASE}
      host: ${MONGODB_URL}

# Set base path to SynQ API in stage environment
synq:
  path:
    base: ${SYNQ_BASE_URL}

---

# This is the configuration for the prod profile
spring:
  config:
    activate:
      # This part of the app config is only activated when the profile is prod
      on-profile: prod

  # Set the security settings for the prod profile
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}

  # Set the database settings for the prod profile
  data:
    mongodb:
      username: ${MONGODB_USERNAME}
      password: ${MONGODB_PASSWORD}
      database: ${MONGODB_DATABASE}
      host: ${MONGODB_URL}

# Set base path to SynQ API in prod environment
synq:
  path:
    base: ${SYNQ_BASE_URL}

logging:
  level:
    # Set the logging level for the web package to error
    web: error
